<div class="navbar">
  <div class="user ps-5 ">
    <img src="./assets/Images/Bhimrao-Tapkir.jpg" alt="logo" style="border-radius: 50%;" />

    <!-- <p class="mail">admin@gmail.com</p> src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_960_720.png"-->
  </div>
  <ng-container *ngIf="Admin">
    <div class="menu">
      <div class="menu-head text-center">
        <span class="text-center">मा. श्री. भिमराव अण्णा तापकीर<br>आमदार - भाजप</span>
      </div>
      <div class="menu-item pt-5">
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/admin-dashboard']">
          <mat-icon>dashboard</mat-icon>
          <span>होम</span>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>peoples</mat-icon>
            <span>विजिटर्स &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['add-records']">विजिटर्स जोडा
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['all-records']">सर्व विजिटर्स
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>peoples</mat-icon>
            <span>महत्वाच्या व्यक्ती &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['add-important-persons']">महत्वाच्या
              व्यक्ती</a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['all-important-persons']">सर्व
              महत्वाच्या व्यक्ती</a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>assignment_ind</mat-icon>
            <span>आवक पत्रके &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['आवक']">आवक
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-आवक']">सर्व आवक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>assignment_ind</mat-icon>
            <span>जावक पत्रके &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['जावक']">जावक
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-जावक']">सर्व जावक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>description</mat-icon>
            <span>न्यूज पेपर कटिंग &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['कात्रणे']">न्यूज पेपर कटिंग
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-कात्रणे']">सर्व न्यूज पेपर
              कटिंग
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['पत्रव्यवहार']">
          <mat-icon>file_copy</mat-icon>
          <span>पत्रव्यवहार</span>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>event</mat-icon>
            <span>कार्यक्रम &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['कार्यक्रम']">कार्यक्रम
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-कार्यक्रम']">कार्यक्रमांचे
              वेळापत्रक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/महत्वाचे-संपर्क']">
          <mat-icon>phone</mat-icon>
          <span>महत्वाचे संपर्क</span>
        </button>
        <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>लॉगआउट</span>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/VBH-Helpline']">
          <mat-icon>contact_phone</mat-icon>
          <span>VBH हेल्पलाइन</span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="SuperAdmin">
    <div class="menu">
      <div class="menu-head text-center">
        <span class="text-center">मा. श्री. भिमराव अण्णा तापकीर<br>आमदार - भाजप</span>
      </div>
      <div class="menu-item pt-5">
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/होम']">
          <mat-icon>home</mat-icon>
          <span>होम</span>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>peoples</mat-icon>
            <span>विजिटर्स &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['add-records']">विजिटर्स जोडा
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['all-records']">सर्व विजिटर्स
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>peoples</mat-icon>
            <span>महत्वाच्या व्यक्ती &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['add-important-persons']">महत्वाच्या
              व्यक्ती</a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['all-important-persons']">सर्व
              महत्वाच्या व्यक्ती</a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>assignment_ind</mat-icon>
            <span>आवक पत्रके &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['आवक']">आवक
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-आवक']">सर्व आवक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>assignment_ind</mat-icon>
            <span>जावक पत्रके &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['जावक']">जावक
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-जावक']">सर्व जावक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>description</mat-icon>
            <span>न्यूज पेपर कटिंग &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['कात्रणे']">न्यूज पेपर कटिंग
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-कात्रणे']">सर्व न्यूज पेपर
              कटिंग
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['पत्रव्यवहार']">
          <mat-icon>file_copy</mat-icon>
          <span>पत्रव्यवहार</span>
        </button>
        <button mat-button class="menu-button" ngbDropdown>
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <mat-icon>event</mat-icon>
            <span>कार्यक्रम वेळापत्रक &nbsp;</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['कार्यक्रम']">कार्यक्रम
            </a>
            <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['सर्व-कार्यक्रम']">कार्यक्रमांचे
              वेळापत्रक
            </a>
          </div>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/महत्वाचे-संपर्क']">
          <mat-icon>phone</mat-icon>
          <span>महत्वाचे संपर्क</span>
        </button>
        <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>लॉगआउट</span>
        </button>
        <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['/VBH-Helpline']">
          <mat-icon>contact_phone</mat-icon>
          <span>VBH हेल्पलाइन</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>