<div class="main-div pt-3 pb-3">
  <mat-card-content>
    <form [formGroup]="paperCuttingForm">
      <div class="row pt-2">
        <div class="col-sm-4">
          <mat-form-field appearance="fill">
            <mat-label>न्यूज पेपर निवडा</mat-label>
            <mat-select formControlName="k_paper" (selectionChange)="filterByPaper()">
              <mat-option value="" disabled>न्यूज पेपर निवडा</mat-option>
              <mat-option value="सकाळ">सकाळ</mat-option>
              <mat-option value="लोकमत">लोकमत</mat-option>
              <mat-option value="पुढारी">पुढारी</mat-option>
              <mat-option value="प्रभात">प्रभात</mat-option>
              <mat-option value="लोकसत्ता">लोकसत्ता</mat-option>
              <mat-option value="इतर">इतर</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date selection -->
        <!-- <label for="date" class="col-sm-1 col-form-label mt-4">
          <b>Select Date</b>
        </label> -->
        <div class="col-sm-4">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="तारीख निवडा" formControlName="k_date"
              (dateChange)="filterByDate()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Important filter -->
        <!-- <label for="important" class="col-sm-1 col-form-label mt-4">
          <b>Important</b>
        </label> -->
        <div class="col-sm-4 mt-3 pt-3">
          <input type="checkbox" id="k_important" class="form-check-input" formControlName="k_important"
            (change)="filterByImportant()" /><span>फक्त महत्वाचे न्यूज पेपर दाखवा</span>
          <!-- <mat-checkbox formControlName="k_important" (change)="filterByImportant()">Show Important Only</mat-checkbox> -->
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-form-field>
    <mat-label><mat-icon>search</mat-icon> शोधा</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div *ngIf="dataLoaded" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>क्र.</b></th>
        <td mat-cell *matCellDef="let row">{{ row.k_id }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>तारीख</b>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.k_date | date: 'yyyy-MM-dd' }}</td>
      </ng-container>

      <ng-container matColumnDef="paper">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>न्यूज पेपर</b>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.k_paper }}</td>
      </ng-container>

      <ng-container matColumnDef="otherpapername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>इतर न्यूज पेपरचे नाव</b>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.k_otherpaper }}</td>
      </ng-container>

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>बातमीचा विषय</b>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.k_label }}</td>
      </ng-container>

      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>फाइल्स/फोटो</b>
        </th>
        <td mat-cell *matCellDef="let row"> <a [href]="row.k_image" target="_blank">फाइल्स/फोटो</a></td>
      </ng-container>

      <ng-container matColumnDef="newslink">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>न्यूज पेपरची लिंक</b>
        </th>
        <td mat-cell *matCellDef="let row"><a [href]="row.k_newslink" target="_blank">{{ row.k_newslink }}</a></td>
      </ng-container>

      <ng-container matColumnDef="medialink">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>टीव्ही मीडिया लिंक</b>
        </th>
        <td mat-cell *matCellDef="let row"><a [href]="row.k_medialink" target="_blank">{{ row.k_medialink }}</a></td>
      </ng-container>

      <ng-container matColumnDef="mediafile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>टीव्ही मीडिया फाइल्स</b>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- Check if k_file exists -->
          <ng-container *ngIf="row.k_file; else noMediaFile">
            <a [href]="row.k_file" target="_blank">टीव्ही मीडिया फाइल्स</a>
          </ng-container>
          <!-- Show alternative text when k_file does not exist -->
          <ng-template #noMediaFile></ng-template>
        </td>
      </ng-container>


      <ng-container matColumnDef="important">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>महत्वाची बातमी</b>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <span *ngIf="row.k_important === 1">✔</span>
          <!-- <span *ngIf="row.k_important !== 1">✘</span> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" style="padding: 10px">
          No data matching "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- <div class="gallery pt-4">
  <div *ngFor="let image of filteredImages">
    <a *ngIf="image.k_image" [href]="image.k_image" target="_blank">
      <img [src]="image.k_image" alt="Images">
    </a>
  </div>
</div> -->