<div class="main-div pt-5 pb-3">
    <mat-form-field style="width: 60%">
        <mat-label><mat-icon>search</mat-icon> शोधा</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <button mat-raised-button color="primary" class="mybtn float-right" routerLink="/add-contacts">
        नवीन संपर्क जोडा
    </button>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>क्र.</b></th>
                <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>संपर्काचे नाव</b></th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="contactno">
                <th mat-header-cell *matHeaderCellDef><b>संपर्क क्रमांक</b></th>
                <td mat-cell *matCellDef="let row"> {{ row.phone_number }} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <b>कृती</b>
                </th>
                <td mat-cell *matCellDef="let row">
                    <button (click)="edit(row.id)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4" style="padding: 10px">
                    No data matching "{{ input.value }}"
                </td>
            </tr>
        </table>
    </div>
</div>