<div class="main-div pt-3 pb-4">
    <h1 class="text-center pt-4 pb-2"><b>महत्वाचे संपर्क</b></h1>
    <!-- <p class="pt-4 pb-2">कोथरूड, पुणे येथील काही महत्त्वाचे सरकारी क्रमांक येथे आहेत: </p>
    <ul>
        <li>पुणे महानगरपालिका (PMC) : 1800-1030-222</li><br>
        <li>पोलीस : 100</li><br>
        <li>रुग्णवाहिका : 108</li><br>
        <li>अग्निशमन दल : 104</li><br>
        <li>आपत्ती व्यवस्थापन नियंत्रण कक्ष : १०७७</li><br>
        <li>चाइल्ड हेल्पलाइन : १०९८</li><br>
        <li>महिला हेल्पलाइन : १०९१</li><br>
        <li>NIC सर्व्हिस डेस्क : १८००-१११-५५५</li><br>
        <li>कोरोना व्हायरस केंद्रीय हेल्पलाइन : ०११-२३९७८०४३/४६</li><br>
        <li>कोरोना व्हायरस महाराष्ट्र हेल्पलाइन : ०२०-२६१२७३९४</li><br>
        <li>कोथरूड पोलीस स्टेशन : 02025391010, 2025391515</li><br>
        <li>पुणे शहर पोलीस नियंत्रण कक्ष : 02026126296, 02026122880</li><br>
        <li>पुणे शहर पोलीस सायबर पोलीस स्टेशन : 02029710097, 7058719371, 7058719375</li><br>
    </ul> -->
</div>