<!-- <div class="gallery pt-4">
    <div *ngFor="let image of nivedaneImages">
        <a *ngIf="image" [href]="image" target="_blank">
            <img [src]="image" alt="Images">
        </a>
    </div>
</div> -->

<div class="main-div pt-5 pb-3">
    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon> Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <div *ngIf="dataLoaded" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
                <td mat-cell *matCellDef="let row">{{ row.n_id }}</td>
            </ng-container>
            <ng-container matColumnDef="n_label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <b>Name</b>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.n_label }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <b>Date</b>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.n_date }}</td>
            </ng-container>

            <ng-container matColumnDef="photos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <b>Images</b>
                </th>
                <td mat-cell *matCellDef="let row"> <a [href]="row.n_photos" target="_blank">Nivedane Images</a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4" style="padding: 10px">
                    No data matching "{{ input.value }}"
                </td>
            </tr>
        </table>
    </div>
</div>