<div class="main-div" style="padding-top: 20px">
    <div class="py-2">
        <div class="card me-4 px-5 py-3">
            <mat-card-title>
                <h2 class="py-2 border-bottom">
                    <i class="fa-solid fa-user"></i> <b> कार्यक्रमांची माहिती</b>
                </h2>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="eventsForm">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label"><b>नाव</b></label>
                        <div class="col-sm-10">
                            <input type="text" id="name" class="form-control" formControlName="k_name"
                                placeholder="नाव लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="contactno" class="col-sm-2 col-form-label"><b>संपर्क क्र.</b></label>
                        <div class="col-sm-10">
                            <input type="tel" id="contactno" maxlength="13" class="form-control"
                                formControlName="k_contactno" placeholder="संपर्क क्रमांक लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="date" class="col-sm-2 col-form-label"><b>तारीख</b></label>
                        <div class="col-sm-10">
                            <input type="date" id="date" class="form-control" formControlName="k_date"
                                placeholder="तारीख लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="time" class="col-sm-2 col-form-label"><b>वेळ</b></label>
                        <div class="col-sm-10">
                            <input type="time" id="time" class="form-control" formControlName="k_time"
                                placeholder="वेळ लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="location" class="col-sm-2 col-form-label"><b>पत्ता</b></label>
                        <div class="col-sm-10">
                            <input type="text" id="location" class="form-control" formControlName="k_location"
                                placeholder="पत्ता लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="subject" class="col-sm-2 col-form-label"><b>कार्यक्रमाचा विषय</b></label>
                        <div class="col-sm-10">
                            <input type="text" id="subject" class="form-control" formControlName="k_subject"
                                placeholder="कार्यक्रमाचा विषय लिहा" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="eventImage" class="col-sm-2 col-form-label"><b>फाइल्स/फोटो </b></label>
                        <div class="col-sm-10">
                            <input type="file" id="eventImage" class="form-control"
                                (change)="onImageSelected($event)" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="comments" class="col-sm-2 col-form-label"><b>कमेंट</b></label>
                        <div class="col-sm-10">
                            <input type="text" id="comments" class="form-control" formControlName="comments"
                                placeholder="कमेंट लिहा" />
                        </div>
                    </div>
                    <br />

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-primary me-3" (click)="postEventsData()">
                            Submit </button>
                        <button type="button" class="btn btn-success me-3" (click)="scheduleEvent()">
                            Schedule Event
                        </button>
                        <button type="button" class="btn btn-danger" routerLink="/सर्व-कार्यक्रम">
                            Close
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </div>
</div>