<div class="main-div pt-5">
  <div *ngIf="dataLoaded" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="aid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
        <td mat-cell *matCellDef="let row">{{ row.a_id }}</td>
      </ng-container>

      <ng-container matColumnDef="aname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>Admin Name</b>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.a_name }}</td>
      </ng-container>

      <ng-container matColumnDef="acontactno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>Contact Number</b>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.a_contactno }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amessage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>Message</b>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.a_message }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <b>Action</b>
        </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="edit(row.a_id)">
            <mat-icon color="primary">edit</mat-icon></button>&nbsp;&nbsp;
          <button (click)="showRecords(row.a_id)">
            <mat-icon color="primary">person</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
</div>