.responsive-image {
    max-width: 80%;
    height: 230px;
    // display: block;
    // margin: 0 60px;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    /* Allows cards to wrap to the next line on smaller screens */
    justify-content: space-around;
    margin: 20px 0 20px 50px;
    gap: 20px;
    /* Adds spacing between cards */
}

.highlight-text {
    color: red;
    /* Change the text color */
    font-weight: bold;
    background-color: yellow;
    /* Add background highlight */
    padding: 2px 4px;
    margin-left: 5px;
    /* Optional: adds padding around the highlighted text */
    border-radius: 3px;
    /* Optional: rounds the background corners */
    animation: blink 1.5s infinite;
    /* Optional: blinking effect */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.mybtn {
    width: 30%;
    padding: 25px;
    float: right
}

.link-btn {
    width: 80%;
    padding: 25px 20px;
}

.card {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    /* For a nice hover effect */
}

.card:hover {
    transform: scale(1.05);
    /* Hover effect to slightly enlarge the card */
}

.main-div {
    margin-right: 4%;
}

i {
    padding-right: 8px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
    .dashboard-cards {
        justify-content: space-between;
        margin: 20px;
    }

    .card {
        width: 180px;
        /* Reduce card width slightly for medium screens */
    }
}

@media (max-width: 800px) {
    .dashboard-cards {
        justify-content: center;
        margin: 20px;
    }

    .card {
        width: 160px;
        font-size: 18px;
    }

    .mybtn {
        padding: 25px 0;
    }

    .link-btn {
        width: 95%;
        padding: 25px 20px;
    }
}

@media (max-width: 600px) {
    .dashboard-cards {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .card {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
    }

    .mybtn {
        padding: 25px 0;
    }

    .link-btn {
        width: 95%;
        padding: 25px 20px;
    }
}

@media (max-width: 400px) {
    .dashboard-cards {
        margin: 10px;
    }

    .card {
        width: 100%;
        max-width: 250px;
        font-size: 14px;
    }

    .mybtn {
        padding: 25px 0;
    }

    .link-btn {
        width: 95%;
        padding: 25px 20px;
    }
}