<div class="main-div" style="padding-top: 20px">
    <div class="py-2">
        <div class="card p-3 me-4 px-md-5 py-3">
            <mat-card-title>
                <h2 class="py-2 border-bottom">
                    <i class="fa-solid fa-user"></i> <b> विजिटर्सची माहिती</b>
                </h2>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="editVisitorsForm" class="row g-3">
                    <div class="col-md-6">
                        <label for="v_name" class="form-label"><b>नाव</b></label>
                        <input type="text" id="v_name" class="form-control" formControlName="v_name"
                            placeholder="नाव लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_contactno" class="form-label"><b>संपर्क क्र.</b></label>
                        <input type="tel" id="v_contactno" maxlength="13" class="form-control"
                            formControlName="v_contactno" placeholder="संपर्क क्रमांक लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_birthdate" class="form-label"><b>जन्मतारीख</b></label>
                        <input type="date" id="v_birthdate" class="form-control" formControlName="v_birthdate"
                            placeholder="जन्मतारीख लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_votingno" class="form-label"><b>मतदान कार्ड क्र.</b></label>
                        <input type="text" id="v_votingno" class="form-control" formControlName="v_votingno"
                            placeholder="मतदान कार्ड क्रमांक लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_address" class="form-label"><b>पत्ता</b></label>
                        <input type="text" id="v_address" class="form-control" formControlName="v_address"
                            placeholder="पत्ता लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_area" class="form-label"><b>ठिकाण/क्षेत्र</b></label>
                        <input type="text" id="v_area" class="form-control" formControlName="v_area"
                            placeholder="ठिकाण/क्षेत्र लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="office" class="form-label"><b>ऑफिस</b></label>
                        <select class="form-select" aria-label="Default select example" formControlName="office">
                            <option value="" selected disabled>ऑफिस निवडा</option>
                            <option value="ऑफिस 1">ऑफिस 1</option>
                            <option value="ऑफिस 2">ऑफिस 2</option>
                            <option value="ऑफिस 3">ऑफिस 3</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="v_arja" class="form-label"><b>अर्ज</b></label>
                        <input type="file" id="v_arja" class="form-control" (change)="onImageSelected($event)" />
                    </div>

                    <div class="col-md-6">
                        <label for="v_problem" class="form-label"><b>समस्या</b></label>
                        <input type="text" id="v_problem" class="form-control" formControlName="v_problem"
                            placeholder="समस्या लिहा" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_date" class="form-label"><b>आजची तारीख</b></label>
                        <input type="date" id="v_date" class="form-control" formControlName="v_date" />
                    </div>
                    <div class="col-md-6">
                        <label for="completion_date" class="form-label"><b>काम पूर्ण होण्याची तारीख</b></label>
                        <input type="date" id="completion_date" class="form-control"
                            formControlName="completion_date" />
                    </div>
                    <div class="col-md-6">
                        <label for="v_status" class="form-label"><b>स्थिती</b></label>
                        <select class="form-select" aria-label="Default select example" formControlName="v_status">
                            <option value="" selected disabled>स्थिती निवडा</option>
                            <option value="काम चालु">काम चालु</option>
                            <option value="काम अपूर्ण">काम अपूर्ण</option>
                            <option value="काम पूर्ण">काम पूर्ण</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="v_comment" class="form-label"><b>कमेंट</b></label>
                        <input type="text" id="v_comment" class="form-control" formControlName="v_comment"
                            placeholder="कमेंट लिहा" />
                    </div>
                    <div class="col-12">
                        <div class="text-center my-3">
                            <button type="submit" class="btn btn-success me-3" (click)="add()">
                                Submit
                            </button>
                            <button type="button" class="btn btn-danger" routerLink="/all-records">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </div>
</div>