<div class="main-div" style="padding-top: 20px">
  <div class="py-2">
    <div class="card me-4 px-5 py-3">
      <mat-card-title>
        <h2 class="py-2 border-bottom">
          <i class="fa-solid fa-user"></i> <b> Update Admin Info.</b>
        </h2>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="superAdminForm">
          <div class="row mb-3">
            <label for="id" class="col-sm-2 col-form-label"><b>ID</b><span class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="text" id="id" class="form-control" formControlName="id" placeholder="ID" readonly />
            </div>
          </div>
          <div class="row mb-3">
            <label for="adminUsername" class="col-sm-2 col-form-label"><b>Admin Name</b><span
                class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="text" id="adminUsername" class="form-control" formControlName="adminname"
                placeholder="Admin Name that used for 'Login'" />
            </div>
          </div>

          <div class="row mb-3 position-relative">
            <label for="passWord" class="col-sm-2 col-form-label"><b>Password</b><span class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="{{ hidePassword ? 'text' : 'password' }}" id="passWord" class="form-control"
                formControlName="passWord" placeholder="Enter Password" />
              <span class="position-absolute end-0 top-50 translate-middle-y" style="padding-right: 25px;">
                <i class="fa" [ngClass]="{'fa-eye-slash': !hidePassword, 'fa-eye': hidePassword}"
                  (click)="togglePasswordVisibility('passWord')"></i>
              </span>
            </div>
          </div>
          <div class="row mb-3 position-relative">
            <label for="conPassword" class="col-sm-2 col-form-label"><b>Confirm Password</b><span
                class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="{{ hideCPassword ? 'text' : 'password' }}" id="conPassword" class="form-control"
                formControlName="conPassword" placeholder="Enter Confirm Password" />
              <span class="position-absolute end-0 top-50 translate-middle-y" style="padding-right: 25px;">
                <i class="fa" [ngClass]="{'fa-eye-slash': !hideCPassword, 'fa-eye': hideCPassword}"
                  (click)="togglePasswordVisibility('conPassword')"></i>
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <label for="fullname" class="col-sm-2 col-form-label"><b>Full Name</b><span class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="text" id="fullname" class="form-control" formControlName="fullname"
                placeholder="Full Name" />
            </div>
          </div>
          <div class="row mb-3">
            <label for="contactno" class="col-sm-2 col-form-label"><b>Contact No.</b><span class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="text" id="contactno" class="form-control" formControlName="contactno"
                placeholder="Contact No." />
            </div>
          </div>
          <div class="row mb-3">
            <label for="contactno" class="col-sm-2 col-form-label"><b>Message</b><span class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" formControlName="smessage"
                placeholder="Enter Message"></textarea>
              <div class="form-text text-danger fw-bold"
                *ngIf="SuperAdminmessage.errors?.['required'] && (SuperAdminmessage.dirty || SuperAdminmessage.touched)">
                Message is required.
              </div>

              <div class="form-text text-danger fw-bold"
                *ngIf="SuperAdminmessage.errors?.['maxlength'] && (SuperAdminmessage.dirty || SuperAdminmessage.touched)">
                Message is length is too large please Enter under 150
                characters.
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="pracharImage" class="col-sm-2 col-form-label"><b>Upload files/photos </b><span
                class="text-danger fw-bold">
                *</span></label>
            <div class="col-sm-10">
              <input type="file" id="pracharImage" class="form-control" (change)="onImageSelected($event)" />
            </div>
          </div>
          <br />

          <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6">
              <!-- Adjust column width for medium and larger screens -->
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary me-3" *ngIf="showupdate" (click)="updateSuperAdmin()">
                  Update
                </button>
                <button type="button" class="btn btn-success me-3" routerLink="/superadmin-dashboard">
                  Close
                </button>
                <button type="button" class="btn btn-danger me-3" *ngIf="superAdminForm.value.id !== 1001"
                  (click)="deleteSuperAdmin()">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </div>
  </div>
</div>