<div class="main-div pt-4 pb-4">
    <h1 class="text-center pb-4"><b>Privacy Policy</b></h1>
    <p>This Software is owned by Innovative Public Support, which is a data controller of your personal data under
        VikasitBH
        Innovate Private Limited.</p>
    <p>We have adopted this Privacy Policy, which determines how we are processing the information collected by
        Innovative
        Public Support Software.<br>
        You must read this Privacy Policy before using Innovative Public Support Software.
    </p>
    <p>We take care of your personal data and undertake to guarantee its confidentiality and security.</p><br>
    <h4><b>Personal information we collect:</b></h4>
    <p>When you use Innovative Public Support Software., we do not collect any information about your hardware. We
        request
        you to submit personal information, such as your e-mail address, name, telephone number. Information collected
        by
        Innovative Public Support Software or by us is used only for the purpose of user Authentication. We do not
        collect
        any information about your device, software or payment information. Neither we sell/ disclose/ share/ distribute
        sensitive information to any third party for any purpose except to extent of delivery of ordered products.</p>
    <h4><b>Use of the information:</b></h4>
    <p>We use the information that we collect from you to provide our services to you. In addition to this we may use
        the
        information for one or more of the following purposes: </p>
    <ul>
        <li>To provide information to you that you request from us relating to our products or services.</li><br>
        <li>To provide information to you relating to other products that may be of interest to you. Such additional
            information will only be provided where you have consented to receive such information and the same is
            existing with us at the time of utilization of the consent so provided by you.</li><br>
        <li>To inform you of any changes to our Innovative Public Support, services or app offered by various Vendors.
            If you have previously purchased goods or services from us we may provide to you details of similar goods or
            services, or other goods or services, that you may be interested in. We use return email addresses to answer
            the email and we don’t use the same for any other purpose.</li>
    </ul>
    <p>We believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of
        others, investigate fraud, or respond to a government request.</p>
    <h4><b>Account deletion:</b></h4>
    <p>Please send email to vbh.contactus@gmail.com to delete your account and all the data will be deleted from system.
    </p>
    <h4><b>Contact information:</b></h4>
    <p>If you would like to contact us to understand more about this Policy or wish to contact us concerning any matter
        relating to individual rights and your Personal Information, you may send an email to vbh.contactus@gmail.com
    </p>
    <h4><b>No Refund Policy</b></h4>
</div>

<div class="main-div pt-4 pb-5">
    <h1 class="text-center pt-4 pb-2"><b>Contact Us</b></h1>
    <p class="text-center pb-5">We value your feedback and inquiries. If you have any questions, concerns, or
        suggestions,
        please don’t hesitate to reach out to us.<br> Our dedicated support team is here to assist you with all your
        needs.
    </p>
    <div class="row mx-auto">
        <div class="col-md-6">
            <div class="dashboard-cards text-center pb-3">
                <div class="card pt-5 pb-5">
                    <i class="fas fa-envelope" style="font-size: 45px;"></i><br>
                    <h2><b>Email ID</b></h2>
                    <p>vbh.contactus@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboard-cards text-center pb-3">
                <div class="card pt-5 pb-5">
                    <i class="fas fa-phone" style="font-size: 45px;"></i><br>
                    <h2><b>Contact No</b></h2>
                    <p>7447418885 / 9923798172 / 7020327718</p>
                </div>
            </div>
        </div>
    </div>
</div>